{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">

Upload Resume

</h2>

<form
method="POST"
enctype="multipart/form-data">

<div class="mb-3">

<label class="form-label">

Select Resume

</label>

<input
type="file"
name="resume"
class="form-control"
accept=".pdf">

</div>

<button
class="btn btn-primary">

Upload

</button>

</form>

{% if extracted_text %}

<hr>

<h3>

Extracted Text

</h3>

<div
class="border rounded p-3 bg-light"
style="white-space: pre-wrap;
max-height:500px;
overflow:auto;">

{{ extracted_text }}

</div>

{% endif %}

{% endblock %}